*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
  font-size: 1rem;
  overflow-x: hidden;

}

.debug{
  background-color: rgba(255, 0, 0, 0.253);
}

.main_wrapper{
  width: 100vw;
  min-height: 100vh;
  padding-top: 40px;
  background-color: rgb(224, 224, 224);

}

.container{
  width: 85%;
  min-height: 300px;
  margin: 0 auto;
  padding-bottom: 15px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px white;
  border: 2px solid white;
  background-color: rgba(36, 148, 163, 0.267);
}

header {
  text-align: center;
  padding-top: 15px;
}
header h1 {
  margin: 0px 0px 20px 0px;
}
#userInput{
  margin-bottom: 10px;
}
.errorMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    height: 20px;
    color: rgb(214, 0, 0);

}

main {
  width: 100%;
}
main ul li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgba(250, 254, 255, 0.548);

}

main ul li span{
  display: flex;
  cursor: pointer;

}

main ul li span.task_text {
  color: rgba(24, 24, 27, 0.753);
}

.done{
  background-color: rgb(231, 231, 231);
  color: rgb(207, 207, 207);
}

main ul li.done span.task_text {
  text-decoration: line-through;
  color: rgb(207, 207, 207);
}

main ul li span.cancel:hover {
  color: red;
}

.task {
  margin: 10px 20px;
  border-radius: 10px;
  padding: 5px 20px;
}
.task:hover :not(span.cancel) {
  background-color: rgba(240, 223, 204, 0.829);
}

.text_container{
  width: 70%;
  padding: 15px 40px 5px 10px;

}
.priority_container{
  width: 10%;

}
.bg_container{
  width: 10%;
}
.cancel_container{
  width: 10%;
}