<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>vue-todolist</title>
</head>
<body>
  <div id="app" class="main_wrapper">
    <div class="container debug">

      <header>

        <h1>To do list</h1>
        <input
          @keyup.enter="pressEnter"
          v-model="inputTsk"
          id="inText"
          type="text">
        <p>error message</p>

      </header>

      <main>
        <ul class="">

          <li
            v-for="(task, index) in tasks"            
            :class="{'done' : task.done}">

            <span class="task_text">
              {{task.text}}
            </span>

            <span class="cancel debug">
              cancella
            </span> 
          </li>


        </ul>

      </main>

    </div>


  </div>

  <script src="js/script.js"></script>
</body>
</html>